<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Golf Homie</title>
        @Styles.Render("~/Content/css")
        <link href="~/Content/Sandstone.css" rel="stylesheet" />
         <link href="~/Content/Custom.css" rel="stylesheet" />
        @Scripts.Render("~/bundles/modernizr")
  
</head>
<body ng-app ="mainApp">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Golf Homie", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

                @Html.ActionLink("Admin", "Admin", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class=" navbar-header pull-right">
                @if (Session["id"] != null)
                {
                    <div class="btn-group pull-right">


                        @Html.ActionLink(Session["username"].ToString(), "Dashboard", "Profile", new { area = "" }, new { @class = "btn btn-primary dropdown-toggle" })
                        <a href="#" class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Account</a></li>
                            <li><a href="#">Settings</a></li>
                            <li>@Html.ActionLink("Sign Out", "SignOut", "Home", new { area = "" }, new { @class = "" })</li>
                        </ul>


                    </div>


                }
                else
                {
                    @Html.ActionLink("Login", "Index", "Home", new { area = "" }, new { @class = "navbar-brand pull-right " })
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
  
        
    </div>
    <footer >
        <div class="navbar navbar-default navbar-fixed-bottom" role="navigation">


        </div>
       
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/Scripts/App.js"></script>

 
    @RenderSection("scripts", required: false)
</body>
</html>
